@import '../../styles/vars';

.avatar {
  border-radius: 50%;
  border: 1px solid $strokes-secondary-color;
  background-color: $background-secondary-color;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  overflow: hidden;
  position: relative;
  justify-content: center;

  .letter {
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: $txt-color;
  }

  .imagePlace {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  /* stylelint-disable-next-line selector-class-pattern */
  &.size-s {
    width: 50px;
    height: 50px;

    .letter {
      font-size: 18px;
    }
  }

  /* stylelint-disable-next-line selector-class-pattern */
  &.size-m {
    width: 100px;
    height: 100px;

    .letter {
      font-size: 36px;
    }
  }
}
